@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Cambiar contraseña";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<partial name="_StatusMessage" for="StatusMessage" />

<div class="d-flex justify-content-center my-4">
    <div class="col-md-6 col-12">
        <p class="text-center text-muted text-uppercase" style="letter-spacing: 1px;">
            @ViewData["Title"]
        </p>
        <form id="change-password-form" method="post">
       
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group mb-3">
                <label asp-for="Input.OldPassword" class="form-label mb-1">Contraseña actual</label>
                <input asp-for="Input.OldPassword" placeholder="Ingrese su contraseña actual" class="form-control" autocomplete="current-password" aria-required="true" />
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Input.NewPassword" class="form-label mb-1">Nueva contraseña</label>
                <input asp-for="Input.NewPassword" placeholder="Ingrese su nueva contraseña" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Input.ConfirmPassword" class="form-label mb-1">Confirmar nueva contraseña</label>
                <input asp-for="Input.ConfirmPassword" placeholder="Ingrese nuevamente la nueva contraseña" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Actualizar contraseña</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
