@page
@model IndexModel
@{
    ViewData["Title"] = "Administrar perfil";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

 
<partial name="_StatusMessage" for="StatusMessage" />
<div class="d-flex justify-content-center my-4">
    <div class="col-md-6 col-12">
        <p class="text-center text-muted text-uppercase" style="letter-spacing: 1px;">@ViewData["Title"]</p>

        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="Username" class="form-label mb-1">Correo</label>
                <input asp-for="Username" placeholder="Ingrese su correo" class="form-control" disabled />
            </div>
            <div class="form-group mb-3">
                <label asp-for="Input.PhoneNumber" class="form-label mb-1">Numero de telefono</label>
                <input asp-for="Input.PhoneNumber" placeholder="Ingrese su numero de telefono" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">
                Guardar
            </button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
