@{
  ViewData["Title"] = "Categorias";
}

  <div class="modal fade" id="modalCategoria" tabindex="-1" aria-labelledby="modalCategoriaLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalCategoriaTitulo">@ViewData["Title"]</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p class="mb-3 mt-0 fw-bold"> Los campos marcados con un asterisco (<span class="text-danger">*</span>) son obligatorios </p>

          <div class="alert alert-danger d-none" id="errorResumen" role="alert">
            
          </div>

          <form  id="formCategoria">
            <input type="hidden" id="categoriaId" value="0" />
            <div class="form-group">
              <label for="categoriaDescripcion" class="form-label">
                Descripcion <span class="text-danger">*</span>
              </label>
              <input type="text" name="categoriaDescripcion" class="form-control text-dark text-uppercase" id="categoriaDescripcion" placeholder="Ingrese una descripcion" autocomplete="off">

              <p class="form-text small text-danger" id="errorDescripcion"></p>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" form="formCategoria" onclick="guardarCategoria()" class="btn btn-primary">Guardar cambios</button>
        </div>
      </div>
    </div>
  </div>

  <header class="card-header rounded p-3 d-flex justify-content-between align-items-baseline">
    <div class="">
      <h1 class="h3 mb-0 fw-bold"> @ViewData["Title"] </h1>
      <small id="cantidad_categorias" class="cantidad_text text-uppercase text-muted placeholder-glow" aria-hidden="true">
        <span class="placeholder w-50 rounded"></span>
      </small>
    </div>

    <button type="button" onclick="limpiarFormulario()" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#modalCategoria">
      <i class="bi bi-plus"></i>
      <span class="d-none d-sm-inline-block "> Nueva categoria </span>
    </button>
  </header>

  @* <div class="row d-flex justify-content-between bg-white m-0 py-3">
    <div class="col-sm-6 col-lg-3">
       <select class="form-select text-uppercase mb-2 mb-md-0" id="filtros">
        <option value="PLACEHOLDER" class="text-muted" selected hidden> Seleccione un filtro </option>
        <option value="TODOS"> Todos </option>
        <option value="DESHABILITADOS"> <i class="bi bi-eye-slash"></i> Deshabilitados </option>
        <option value="HABILITADOS"> <i class="bi bi-eye"></i> Habilitados </option>
      </select>
    </div>

    <div class="col-sm-6 col-lg-4">
      <div class="input-group border-none">
        <input type="search" class="form-control text-uppercase" placeholder="Buscar categoria" id="buscador">
        <label for="buscador" class="input-group-text bg-light px-3">
          <span class="text-muted small" title="Buscador">
            <i class="bi bi-search"></i>  
          </span>
        </label>
      </div>
    </div>
  </div> *@
  
  @* <div class="overflow-x-auto py-4"> *@
    <table class="table table-hover overflow-hidden rounded" id="tabla_categoria">
      <thead class="border-top border-bottom thead">
        <tr class="align-middle">
          <th scope="col" class="border-0">Descripcion</th>
          <th scope="col" class="border-0"> </th>
        </tr>
      </thead>

      <tbody id="tBody">
        <tr class="placeholder-glow fs-3">
          <td> 
            <span class="placeholder w-25 rounded-2 "></span> 
          </td>
          <td>
            <span class="placeholder w-25 rounded-2"></span> 
            <span class="placeholder w-50 rounded-2"></span> 
          </td>
        </tr>

        <tr class="placeholder-glow fs-3">
          <td> 
            <span class="placeholder w-25 rounded-2 "></span> 
          </td>
          <td>
            <span class="placeholder w-25 rounded-2"></span> 
            <span class="placeholder w-50 rounded-2"></span> 
          </td>
        </tr>

        <tr class="placeholder-glow fs-3">
          <td> 
            <span class="placeholder w-25 rounded-2 "></span> 
          </td>
          <td>
            <span class="placeholder w-25 rounded-2"></span> 
            <span class="placeholder w-50 rounded-2"></span> 
          </td>
        </tr>   

        <tr class="placeholder-glow fs-3">
          <td> 
            <span class="placeholder w-25 rounded-2 "></span> 
          </td>
          <td>
            <span class="placeholder w-25 rounded-2"></span> 
            <span class="placeholder w-50 rounded-2"></span> 
          </td>
        </tr>

        <tr class="placeholder-glow fs-3">
          <td> 
            <span class="placeholder w-25 rounded-2 "></span> 
          </td>
          <td>
            <span class="placeholder w-25 rounded-2"></span> 
            <span class="placeholder w-50 rounded-2"></span> 
          </td>
        </tr>

      </tbody>

      <tfoot id="tFooter">
        <tr>
          <td class="text-muted">
          </td>
          <td>
          </td>
        </tr>
      </tfoot>

    </table>
  @* </div> *@

@section Scripts {
  <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
  
  <script src="./js/utils.js">  </script>
  <script src="./js/categoria-1.0.0.js"></script>
}