@{
  ViewData["Title"] = "Inicio";
}

<header class="my-5 mx-3 pt-4">

    <div class="col-md-10 col-lg-8 pb-4 mx-auto text-center">
      <h1 class="display-4 fw-900">
        <span class=""> Bienvenido a </span>
        <span class=" resaltado"> Servify </span>
      </h1>

      <p class="fw-bold fs-4 my-2 "> Aplicación intuitiva para gestionar servicios forma eficiente. </p>
      <p class="fs-5 fw-normal text-muted">
        Servify cuenta con una interfaz moderna y fácil de usar, donde podrás crear, modificar y eliminar servicios con categorias y subcategorias personalizadas.
      </p>

    </div>

</header>

<div class="row row-cols-1 row-cols-md-3 gap-x-1 mb-5" >
  <div class="col-md-4 col-12" >
    <div class="card shadow-sm rounded-3 border-0" style="min-height: 30vh;">
      <div class="card-body row">
        <div class="col-md-4 col-lg-2">
          <div class="mb-3 bg-icons d-flex justify-content-center align-items-center text-white rounded-3" style="height: 40px;width: 40px">
            <i class="bi bi-nut fs-6"></i>
          </div>
        </div>

        <div class="col-md-8 col-lg-10">
          <h2 class="fw-bolder">Servicios</h2>
          <p class="">Un servicio es un conjunto de actividades que buscan satisfacer las necesidades de un cliente</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-12" >
    <div class="card shadow-sm rounded-3 border-0" style="min-height: 30vh;">
        <div class="card-body row">
          <div class="col-md-4 col-lg-2">
            <div class="mb-3 bg-icons d-flex justify-content-center align-items-center text-white rounded-3" style="height: 40px;width: 40px">
              <i class="bi bi-tag fs-6"></i>
            </div>
          </div>

          <div class="col-md-8 col-lg-10">
            <h2 class="fw-bolder">Categorias</h2>
            <p>Podra administrar y personalizar sus servicios de acuerdo a su categoria.</p>
          </div>
        </div>
    </div>
  </div>

  <div class="col-md-4 col-12" >
  <div class="card shadow-sm rounded-3 border-0" style="min-height: 30vh;">
    <div class="card-body row">
      <div class="col-md-4 col-lg-2">

        <div class="mb-3 bg-icons d-flex justify-content-center align-items-center text-white rounded-3" style="height: 40px;width: 40px">
          <i class="bi bi-tags fs-6"></i>
        </div>
      </div>

      <div class="col-md-8 col-lg-10">
        <h2 class="fw-bolder">Subcategorias</h2>
        <p>A su vez para ser mas espeficico podra crear subcategorias</p>
      </div>
    </div>
    </div>
  </div>
</div>
